{% comment %} {% load static %} {% endcomment %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="{% sass_src 'project_data_styles/normalize.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src 'project_data_styles/skeleton.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src 'project_data_styles/styles.scss' %}" rel="stylesheet" type="text/css" />

  <title>{% block title %}{% endblock %} - Data!</title>
</head>
<body>
  <header>
    <nav>
     <ul>
      <li><a href="{% url "home" %}">Home</a></li>
     </ul>
    </nav>
    <h3>Welcome to the site</h3>
  </header>
  <main>
    {% block content %}
    <h3>No Content</h3>
    {% endblock content %}
  </main>
  <footer></footer>
</body>
</html>
